header {
  width: 100%;
  height: 20%;
  background: #4378db;
  position: absolute;
  left: 0;
  top: 0;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 3%;
}

.table {
  padding-top: 20%;
  padding-left: 50px;
  min-width: 500px;
  width: 75%;
  align-content: center;
}
