<div class="navbar">
  <div class="card flex justify-content-center">
    <p-buttonGroup>
      <p-button
        label="Attendance"
        routerLink="/attendance"
        icon="pi pi-check-square"
        severity="success"
      />
      <p-button
        label="Diary"
        routerLink="/diary"
        icon="pi pi-book"
        severity="info"
      />
      <p-button
        label="Announcements"
        routerLink="/announcements"
        icon="pi pi-megaphone"
        severity="warn"
      />
      <p-button
        label="Calendar"
        routerLink="/studentscalendar"
        icon="pi pi-calendar"
        severity="danger"
      />
    </p-buttonGroup>
  </div>
</div>
