<div class="navbar">
  <div class="card flex flex-wrap gap-4 justify-center">
    <p-button
      class="menu"
      label="Attendance"
      routerLink="/attendance"
      icon="pi pi-check-square"
      severity="success"
    />
    <p-button
      class="menu"
      label="Diary"
      routerLink="/diary"
      icon="pi pi-book"
      severity="info"
    />
    <p-button
      class="menu"
      label="Announcements"
      routerLink="/announcements"
      icon="pi pi-megaphone"
      severity="warn"
    />

    <p-button
      class="menu"
      label="Calendar"
      routerLink="/studentscalendar"
      icon="pi pi-calendar"
      severity="danger"
    />
  </div>
</div>
